body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
}

.juego-contenedor {
    display: grid;
    width: 800px;
    grid-template: 200px 200px / 200px 400px 200px;
    margin: 0 auto;
    background-color: rgb(236, 225, 210);
    border-radius: 5px;
}

.palabra {
    grid-column: 2/3;
    grid-row:1/2;
    align-self: center;
    justify-self: center;
}

.vidas {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

.letras {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

form {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    border-style: none;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(135, 170, 182);
}